$font-stack: 'Arial',
sans-serif;
$light:#f7f7f7;
$dark:#222121;
$text:#ffffff;
$padding: 15px 0;
$border-radius:10px;
$card1:rgb(92, 149, 255);
$card2:red;
$card3:rgb(55, 202, 55);
$card4:darkred;
$card5:rgb(243, 0, 113);
$card6:rgb(255, 200, 19);
$spinner:#484848;