body,
html {
  font-family: "Arial", sans-serif;
}

.card .card1, .card .card2, .card .card3, .card .card4, .card .card5, .card .card6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
  border-radius: 5px;
  padding: 20px 0 20px 10px;
  margin: 0 5px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #ff5cc9;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 700px;
  margin-top: 100px;
}

.inputfield {
  border-radius: 10px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#flag {
  width: 30px;
  margin-left: 5px;
}

.card {
  margin-bottom: -100px;
  border-radius: 10px;
  background-color: #f7f7f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.card .title {
  text-align: center;
  margin: 20px 0;
  font-weight: bold;
}

.card .title span {
  color: #222121;
}

.card .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 5px 0;
}

.card .number {
  margin-top: 5px;
  font-size: 30px;
}

.card .card1 {
  background-color: #5c95ff;
}

.card .card2 {
  background-color: red;
}

.card .card3 {
  background-color: #37ca37;
}

.card .card4 {
  background-color: darkred;
}

.card .card5 {
  background-color: #f30071;
}

.card .card6 {
  background-color: #ffc813;
}

.card i {
  color: #ffffff;
  font-size: 25px;
}

.card span {
  color: #ffffff;
  font-size: smaller;
}

.card #country {
  font-weight: bold;
  font-size: larger;
}

#spinner {
  visibility: hidden;
  border-radius: 50%;
  border: 5px solid #f7f7f7;
  border-top: 5px solid #484848;
  width: 15px;
  height: 15px;
  -webkit-animation: spin 1s linear infinite;
          animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#spinner.show {
  visibility: visible;
}
/*# sourceMappingURL=style.css.map */