@import 'base';

body,
html {
    font-family: $font-stack;
}

%equal-width {
    display: flex;
    flex-direction: column;
    flex-basis: 200px;
    border-radius: 5px;
    padding: 20px 0 20px 10px;
    margin: 0 5px;
}

.main {
    display: flex;
    justify-content: center;
    background-color: rgb(255, 92, 201);
}

.container {
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-top: 100px;
}

.inputfield {
    border-radius: $border-radius;
    background-color: $light;
    display: flex;
    padding: 5px;
    align-items: center;
}

#flag {
    width: 30px;
    margin-left: 5px;
}

.card {
    margin-bottom: -100px;
    border-radius: $border-radius;
    background-color: $light;
    display: flex;
    flex-direction: column;
    text-align: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;

    .title {
        text-align: center;
        margin: 20px 0;
        font-weight: bold;

        span {
            color: $dark;
        }
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding: 5px 0;
    }

    .number {
        margin-top: 5px;
        font-size: 30px;
    }

    .card1 {
        background-color: $card1;
        @extend %equal-width;
    }

    .card2 {
        background-color: $card2;
        @extend %equal-width;
    }

    .card3 {
        background-color: $card3;
        @extend %equal-width;
    }

    .card4 {
        background-color: $card4;
        @extend %equal-width;
    }

    .card5 {
        background-color: $card5;
        @extend %equal-width;
    }

    .card6 {
        background-color: $card6;
        @extend %equal-width;
    }

    i {
        color: $text;
        font-size: 25px;
    }

    span {
        color: $text;
        font-size: smaller;
    }

    #country {
        font-weight: bold;
        font-size: larger;
    }
}

#spinner {
    visibility: hidden;
    border-radius: 50%;
    border: 5px solid $light;
    border-top: 5px solid $spinner;
    width: 15px;
    height: 15px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#spinner.show {
    visibility: visible;
}